<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/event-ids">Event IDs</a></li>
	        		<li><a href="/normal">Normal</a></li>
	        		<li><a href="/windows-time-rules">Windows Time Rules</a></li>
	          		<li><a href="/windows-artifacts">Windows Artifacts</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			</footer>
		</body>
	</html>
